<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>view all notes</h1>
    <table border="1">
        <tr>
            <th>notes_id</th>
            <th>title</th>
            <th colspan="3"></th>
        </tr>
        {% for i in notesdata %}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td><a href="{{url_for('updatenotes',nid=i[0])}}"><button type="submit">Update</button></a></td>
            <td><a href="{{url_for('delete',nid=i[0])}}"><button type="delete">Delete</button></a></td>
            <td><a href="{{url_for('readnotes',nid=i[0])}}"><button type="submit">View</button></a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>